<mat-toolbar>
  <div>
    <button mat-icon-button routerLink="/pages/people">
    <mat-icon>menu</mat-icon>
    </button>
    <span>AplicacaoWeb</span>
  </div>
  <div class="d-flex justify-content-center">
    <ng-container *ngIf="!(authenticate$ | async)">
      <button mat-button routerLink="login">
        <mat-icon>input</mat-icon>
        &nbsp;Sign in
      </button>
      <button mat-button routerLink="register">
        <mat-icon>person_add</mat-icon>
        &nbsp;Sign up
      </button>
    </ng-container>
    <ng-container *ngIf="(authenticate$ | async) && (user$ | async)">
      <button mat-icon-button routerLink="/pages/people">
        <mat-icon>people_alt</mat-icon>
      </button>
      <button mat-icon-button routerLink="/pages/products">
        <mat-icon>shop</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item disabled>
          <span>{{ (user$ | async)?.email }}</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Sair</span>
        </button>
      </mat-menu>
      <button mat-icon-button (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </ng-container>
  </div>
</mat-toolbar>
<div class="container pt-5 pb-5">
  <router-outlet></router-outlet>
</div>

