<div>
  <mat-list>
    <div mat-subheader>People</div>
    <div *ngIf="(people$ | async) as people; else loading">
      <mat-list-item *ngFor="let p of people">
        <mat-icon mat-list-icon>person</mat-icon>
        <div mat-line> Name: {{ p.name }} </div>
        <div mat-line> E-mail: {{ p.email }} </div>
        <div mat-line> Country: {{ p.country }} </div>
        <mat-divider></mat-divider>
      </mat-list-item>
    </div>
    <ng-template #loading>
      <mat-list-item>
        <mat-icon mat-list-icon>sync</mat-icon>
        <div mat-line> Loading... </div>
      </mat-list-item>
    </ng-template>
  </mat-list>
</div>
