/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-list.mat-list-base {
    background-color: rgb(121 121 121 / 8%);
    border: 1px solid #b0b0b0;
    border-radius: 5px;
}
