<div class="container login-form">
  <div *ngIf="hideLoading; else loading">
    <form  [formGroup]="formLogin" (ngSubmit)="onSubmit()" >
      <mat-card>
        <mat-card-title>Login</mat-card-title>
        <mat-card-content>
          <div class="row">
            <div class="col-sm">
              <mat-form-field >
                <input matInput formControlName="email" type="email"
                    placeholder="E-mail" autocomplete="email" readonly="false">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm">
              <mat-form-field>
                <input matInput formControlName="password" type="password"  
                  placeholder="Password" autocomplete="password">
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" type="submit" [disabled]="!formLogin.valid">
            <mat-icon>check</mat-icon>
            Login
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
  <ng-template #loading>
    <mat-card>
      <mat-card-title>Loading...</mat-card-title>
      <mat-card-content>
        <div>
          <mat-spinner mat-list-icon diameter="25" mode="indeterminate"></mat-spinner>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-template>
</div>